<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Alexandr Fonari" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/code.css" type="text/css" media="screen, projection" />

</head>
<body>

<h2 id="alexandr-fonari-firstname-lastname-gatech-edu">Alexandr Fonari, PhD (firstname.lastname@schrodinger.com)</h2>
<p class="summary">Associate Developer, Materials Science at Schr&ouml;dinger,<br/>
New York, NY
</p>
<div class="menu">
  <a href="/">Home</a> | <a href="/publications.html">Publications</a>  | <a href="/afonari_resume.pdf" target="_blank"> Resume <img src="/new_window.png" alt="Will open in a new window" /></a> | <a href="https://www.linkedin.com/in/alexandrfonari" target="_blank">LinkedIn <img src="/new_window.png" alt="Will open in a new window" /></a> | Found a bug? <a href="https://github.com/alexandr-fonari/alexandr-fonari.github.com/issues/new">Submit an issue!</a>
</div>

{{ content }}

<p class="footer">Copyright &copy; 2015 by Alexandr Fonari. Hosted on <a href="https://github.com/alexandr-fonari/alexandr-fonari.github.io" target="_blank">GitHub <img src="/new_window.png" alt="Will open in a new window" /></a></p>
</body>
</html>